@if (isFound) {
    <div>
      <img src="/23.jpg" alt="labtop" class="w-25">
      <p>quaerat temporibus harum hic! Officiis, natus? Cupiditate ducimus esse velit consectetur sapiente non veritatis quidem error, atque architecto fuga delectus voluptatem iste aliquid culpa minima magni voluptas dolorem vero eius ullam earum pariatur. Unde cupiditate quaerat, iure recusandae adipisci ipsam, numquam aut consequuntur provident sint velit minus iste, repellat delectus impedit et reiciendis tempore iusto voluptatem rerum. Sapiente quasi alias modi impedit. In, fugit. Assumenda, unde totam aliquid hic, id sint dolor mollitia reprehenderit quod omnis repellendus consequatur deserunt itaque, commodi fuga dolorum. Ea deleniti ab corporis. Ullam tempora odio atque blanditiis reprehenderit ipsam non quos numquam corporis impedit ea consectetur nam, suscipit esse</p>
    </div>
  }
  @else{
    <div></div>
  }
<div class="bg-info p-3" >
    <h2>Let's introduce Me</h2>
    <p>I'm the Child Component "Supervisor" amis To Control the <span>Red Area </span>located on My PArent</p>
    <button class="btn btn-dark text-white" (click)=" myData()">Click me to send data to my Parent</button>
</div>
